<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

</head>
<body>
<div class="container" sec:authorize="isAuthenticated()">

    <div class="py-5 text-center">
        <h2>로그인 결과</h2>
    </div>
    <h2 th:text="'로그인 완료!'" ></h2>
    <div>

    </div>
    <div>

        <td sec:authentication="name"></td> 님 환영합니다 !

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'" type="button">회원 정보 수정</button>
<!--                    th:onclick="|location.href='@{/member/memberList/{memberId}/memberEditForm(memberId=${member.id})}'|"-->

        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/index.html}'|"
                    type="button">메인으로</button>
        </div>
    </div>

</div> 
</div>
</body>
</html>
